<!DOCTYPE html>
<html>
<head>
	<title>NOTICE</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.css">
	<link rel="stylesheet" type="text/css" href="backimg.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>

<body style=" background: #12c2e9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
<ol>
    <h1>HOME TAB</h1>
        
</ol>
<ul>
        <h1>NOTICE TAB</h1>
           
</ul>
<ul>
        <h1>ARRANGEMENTS TAB</h1>
        
</ul>
<ul>
        <h1>SUBSCRIPTION TAB</h1>
       
</ul>

<h2>For any other queries email : mukuldutt1234@gmail.com  mukuldutt12341@gmail.com  mukudev404@gmail.com</h2>

</body>

</html>